body {
    background-color: #141414;
    font-family: sans-serif,'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #1f1f1f;
    color:#f9f9f9;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    width: 250px;
}

.pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    color: #b8da3f;
    margin: 10px 0;
}

q {
    font-size: 10px;
    font-weight: 100;
    font-style: italic;
    color: #d1cdcd;
}

.box {
    font-size: 12px;
    font-weight: 200;
    background-color: #333;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.box:hover {
    background-color: #555;
}